<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="Style.css">
</head>
<body class="b2">
    <h1>Your Cart: 1 items</h1>
    <div class="b2d">
        <div class="b2d1">
            <img src="oppo.png" alt="OPPO F21s Pro 5G">
            <pre>
            OPPO F21s Pro 5G 
            (Dawnlight Gold,
            8GB RAM, 128GB
            Storage) with No 
            Cost EMI/Additional 
            Exchange Offers</pre>
            <p class="rate">$245.67</p>
            <button class="bt4">-</button>
            <button class="bt5">1</button>
            <button class="bt6">+</button>
            <button class="bt7"><ion-icon name="trash"></ion-icon></button>
        </div>
        <div class="b2d2">
            <h3>Order Summary</h3>
            <hr>
            <p>Subtotal:  <span>1(Units)</span></p>
            <p>Est.total:  <span>$245.67</span></p>
            <hr>
            <button class="bt8">Place Order</button>
        </div>
    </div>
</body>
</html>