<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="b3">
    <div class="b3d">
        <div class="b3d1">
            <img src="redmi.png" alt="Redmi 13 5g">
        </div>
        <div class="b3d2">
            <div>
                <pre><p class="p1">
                    Redmi 13 5g Black Diamond
                    Redmi 13 5G, 6GB+128GB | 108MP
                    Pro Grade Camera | 6.79 in Largest
                    Display in Segment</p>
                </pre>
            </div>  
            <p>Product #387874kkfjkf</p>
            <hr>
            <p style="cursor: pointer;">
                <span style="font-size:150%;color:orangered;">&star;</span>
                <span style="font-size:150%;color:orangered;">&star;</span>
                <span style="font-size:150%;color:orangered;">&star;</span>
                <span style="font-size:150%;color:orangered;">&star;</span>
                <span style="font-size:150%;color:orangered;">&star;</span>
            </p>
            <hr>
            <p>$456.00</p>
                    <button class="bt4">-</button>
                    <button class="bt5">1</button>
                    <button class="bt6">+</button>
                    <button class="bt8">Add to cart</button>
            <p>Status: In Stock</p>
            <p class="p3"><b>Description:</b></p>
            <pre class="pre"><p class="p2">
                Processor: Intel i5-1235U (3.30 GHu up to 4.40 GHz), 10
                Cores & 12MB Cache RAM & Storage:8GB, 8Gx1,DDR4,
                2666MHz Ach & 512GB SSD Display & Graphics:15.6"FHD
                WVA AG 120Hz 250 nits Narrow Border & Integrated 
                Graphics</p>
            </pre><br>
            <p>Sold by: Amazon</p>
        </div>
    </div>
</body>
</html>