<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoping Website</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="b1">
    <header>
        <div class="hd1">
            <img src="logo.png" alt="Logo">
        </div>
        <div class="hd2">
            <div>
                <input type="search" placeholder="Enter Product Name ...">
            </div>
            <div>
                <button><ion-icon name="search" id="i1"></ion-icon></button>
            </div>
        </div>
        <div class="hd3">
            <button class="bt1">Cart</button>
            <button class="bt2">2</button>
        </div>
    </header>
    <h1>Latest Products</h1>
    <main>
        <div class="md1">
            <img src="oppo.png" alt="OPPO F21s Pro 5G" class="img">
            <p class="desc">OPPO F21s Pro 5G (Dawnlight Gold, 8GB RAM, 128GB Storage) with No cost EMI/Additional Exchange Offers</p>
            <p class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </p>
            <p class="rate">$245.67</p>
            <button class="bt3">View Details</button>
        </div>
        <div class="md">
            <img src="samsung.png" alt="Samsung Galaxy S24 Ultra 5G AI Smartphone" class="img">
            <p class="desc">Samsung Galaxy S24 Ultra 5G AI Smartphone(Titanium Gray, 12GB RAM, 512GB Storage)</p>
            <br>
            <p class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span>(5 Reviews)</span>
            </p>
            <p class="rate">$150.32</p>
            <button class="bt3">View Details</button>
        </div>
        <div class="md">
            <img src="redmi.png" alt="Redmi 13 5g Black Diamond" class="img">
            <p class="desc">Redmi 13 5g Black Diamond, 6GB+128GB | 108MP Pro Grade Camera | 6.79 in Largest Display in Segment</p>
            <br>
            <p class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span>(5 Reviews)</span>
            </p>
            <p class="rate">$440.57</p>
            <button class="bt3">View Details</button>
        </div>
        <div class="md">
            <img src="poco.png" alt="POCO M6 5G" class="img">
            <p class="desc">POCO M6 5G (Galactic Black, 8GB RAM, 256GB Storage) | MediaTek Dimensity 6100+ 5G Processor | 5000 mAh Battery + 18W Fast Charging</p>
            <p class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span>(5 Reviews)</span>
            </p>
            <p class="rate">$15.46</p>
            <button class="bt3">View Details</button>
        </div>
        <div class="md">
            <img src="realme.png" alt="Realme 13 Pro+ 5G" class="img">
            <p class="desc">Realme 13 Pro+ 5G(Monet Gold, 8GB RAM, 256GB Storage) | Upto 16GB Dynamic RAM | Snapdragon 7s Gen2 Processor</p>
            <p class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span>(5 Reviews)</span>
            </p>
            <p class="rate">$10.12</p>
            <button class="bt3">View Details</button>
        </div>
    </main>

    <footer>
        <p>Shopping Website- 2023-2024, All Rights Reserved</p>
    </footer>
</body>
</html>